@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(rgba(102, 157, 234, 0.8), rgba(75, 111, 162, 0.8)),
    url('https://i.imgur.com/Zk6TR5k.jpeg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --font-fnt-default: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-clr-primary: #fff;
  --color-clr-secondary: oklch(96.7% 0.003 264.542);
  --color-clr-accent: #7a9ff5; /*blue*/
  --color-clr-text: #000;
  --color-clr-text-secondary: oklch(37.3% 0.034 259.733); /*gray-700*/
  --color-clr-logo: oklch(55.1% 0.027 264.364); /*gray-500*/
}

@layer base {
}

@layer components {
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }
}
