@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(rgba(102, 157, 234, 0.8), rgba(75, 111, 162, 0.8)),
    url('https://i.imgur.com/Zk6TR5k.jpeg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
}

@layer base {
}

@layer components {
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }

  /* перенос текста */
  .break-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}
